.baihover{
    width: 100%;
    height: 280px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 120px;
    right: 0px;
    z-index: 99999;
    display: none;
}
.baihover .baihover-bx{
    width: 1020px;
    height: 250px;
    margin: 0 auto;
}
.baihover .baihover-bx h3{
    font-size: 12px;
    color: #999999;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 20px;
    line-height: 0px;
}
.baihover .baihover-bx ul img{
    width: 40px;
    height: 38px;
    vertical-align: -10px;
}
.baihover .baihover-bx ul{
    height: 220px;
}
.baihover .baihover-bx ul li{
    float: none;
    cursor: pointer;
    margin-bottom: 10px;
    line-height: 0px;
    padding-left: 0px;
}
.baihover .baihover-bx ul li.Photograph{
    float: left; 
    position: relative;
    bottom: 147px;
    left: 40px;
}
.baihover .baihover-bx ul li span{
    font-size: 14px;
    font-weight: 700;
    margin-left: 10px;
}
.baihover .baihover-bx .fdfd{
    float: left;
    margin-left: 120px;
}
.baihover .baihover-bx #sj .sj-tj img{
    width: 75px;
    height: 120px;
}

.phonemarket{
    width: 100%;
    height: 280px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 120px;
    right: 0px;
    z-index: 99999;
    display: none;
}
.phonemarket .phonemarket-bx{
    width: 680px;
    height: 220x;
    margin: 0 auto;
}
.phonemarket .phonemarket-bx ul li{
    width: 120px;
    height: 120px;
    padding-left: 40px;
    margin-top: 40px;
}
.phonemarket .phonemarket-bx ul li p{
    height: 20px;
    text-align: center;
    line-height: 0px;
}
.phonemarket .phonemarket-bx ul li .ztys{
    font-size: 14px;
    color: #333;
    font-weight: 700;
}
.phonemarket .phonemarket-bx ul li .ztys2{
    font-size: 12px;
    color: red;
    font-weight: 600;
}
.phonemarket .phonemarket-bx ul li .ztys2 span{
    color: #999999;
}
.phonemarket .phonemarket-bx ul li img{
    width: 120px;
    height: 120px;
}

.parts{
    width: 100%;
    height: 280px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 120px;
    right: 0px;
    z-index: 99999;
    display: none;
}
.parts .parts-bx{
    width: 1020px;
    height: 250px;
    margin: 0 auto;
}
.parts .parts-bx h3{
    font-size: 12px;
    color: #999999;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 20px;
    line-height: 0px;
}
.parts .parts-bx ul img{
    width: 40px;
    height: 38px;
    vertical-align: -10px;
}
.parts .parts-bx ul{
    height: 220px;
}
.parts .parts-bx ul li{
    float: none;
    cursor: pointer;
    margin-bottom: 10px;
    line-height: 0px;
    padding-left: 0px;
}
.parts .parts-bx ul li span{
    font-size: 14px;
    font-weight: 700;
    margin-left: 10px;
}
.parts .parts-bx .fdfd{
    float: left;
    margin-left: 120px;
}
.parts .parts-bx #sj .sj-tj img{
    width: 75px;
    height: 120px;
}


.Dress{
    width: 100%;
    height: 280px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 120px;
    right: 0px;
    z-index: 99999;
    display: none;
}
.Dress .Dress-bx{
    width: 600px;
    height: 250px;
    margin: 0 auto;
}
.Dress .Dress-bx h3{
    font-size: 12px;
    color: #999999;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 20px;
    line-height: 0px;
}
.Dress .Dress-bx ul img{
    width: 40px;
    height: 38px;
    vertical-align: -10px;
}
.Dress .Dress-bx ul{
    height: 220px;
}
.Dress .Dress-bx ul li{
    float: none;
    cursor: pointer;
    margin-bottom: 10px;
    line-height: 0px;
    padding-left: 0px;
}
.Dress .Dress-bx ul li span{
    font-size: 14px;
    font-weight: 700;
    margin-left: 10px;
}
.Dress .Dress-bx .fdfd{
    float: left;
    margin-left: 120px;
}
.Dress .Dress-bx #sj .sj-tj img{
    width: 75px;
    height: 120px;
}


.series{
    width: 100%;
    height: 280px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 120px;
    right: 0px;
    z-index: 99999;
    display: none;
}
.series .series-bx{
    width: 180px;
    height: 220px;
    margin: 0 auto;
    border: none;
}
.series .series-bx h3{
    font-size: 12px;
    color: #999999;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 20px;
    line-height: 0px;
}
.series .series-bx ul img{
    width: 40px;
    height: 38px;
    vertical-align: -10px;
}
.series .series-bx ul{
    height: 220px;
}
.series .series-bx ul li{
    float: none;
    cursor: pointer;
    margin-bottom: 10px;
    line-height: 0px;
    padding-left: 0px;
}
.series .series-bx ul li span{
    font-size: 14px;
    font-weight: 700;
    margin-left: 10px;
}

.Service{
    width: 100%;
    height: 280px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 120px;
    right: 0px;
    z-index: 99999;
    display: none;
}
.Service .Service-bx{
    width: 180px;
    height: 250px;
    margin: 0 auto;
    border: none;
}
.Service .Service-bx p{
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    color: black;
}